In [ ]:
age = 2 
name = 'Alex'

In [ ]:
user_info = ['Alex', 'Yann', 60000, 3]

In [ ]:
salaries = [1,2,3,4]
first = salaries[0]
print(first)

1

In [ ]:
users = []
users.append('Voronov')
users.append(42)
print(users)

['Voronov', 42]

In [ ]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for i in user_ages:
  if i>=18:
    print (i)

18
21
35
42
27

In [ ]:
if user_info[-1]<2:
  status = 'Junior'
elif user_info[-1]>=2 and user_info[-1]<5:
  status = 'Middle'
else:
    status = 'Senior'
print(status)

Middle

In [ ]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
for i in values:
  if i%10==0:
    print(i)

10
100
20
50
160
210

In [ ]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
for i in workers:
  if i[-1]<2:
    status = 'Junior'
  elif i[-1]>=2 and i[-1]<5:
    status = 'Middle'
  else:
    status = 'Senior'
  print(i[0],i[1],status)

Ivan Ivanov Middle
Petr Petrov Middle
Sidor Sidorov Middle